

{#
{% extends 'base.html.twig' %}
{% block body %}
<h1>Elementcaisses list</h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Ouverturecaisse</th>
      <th>Fermuturecaisse</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for elementCaisse in elementCaisses %}
    <tr>
      <td><a href="{{ path('elementcaisse_show', { 'id': elementCaisse.id }) }}">{{ elementCaisse.id }}</a></td>
      <td>{% if elementCaisse.date %}{{ elementCaisse.date|date('Y-m-d H:i:s') }}{% endif %}</td>
      <td>{{ elementCaisse.ouvertureCaisse }}</td>
      <td>{{ elementCaisse.fermutureCaisse }}</td>
      <td>
        <ul>
          <li>
            <a href="{{ path('elementcaisse_show', { 'id': elementCaisse.id }) }}">show</a>
          </li>
          <li>
            <a href="{{ path('elementcaisse_edit', { 'id': elementCaisse.id }) }}">edit</a>
          </li>
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<ul>
  <li>
    <a href="{{ path('elementcaisse_new') }}">Create a new elementCaisse</a>
  </li>
</ul>
{% endblock %}
#}


{% extends 'elementcaisse/layout.html.twig' %}
{% set action = "Caisse" %}
{% block body2 %}
<!-- <label class="col-form-label font-weight-bold"> Caisse:</label> -->
<button class=" btn btn-info float-right mt-0" data-target="#ModalActionCaisse" data-toggle="modal" > Nouvelle Transaction</button>
<div class="clearfix"></div>
<!-- ss -->
<div class="row ">
  <div class="card-body">
    <div class="table-responsive">
      <table id="example" class="table table-striped table-bordered w-100 text-center font-weight-bold">
        <thead>
          <tr>
            <!-- <th scope="col" style="width:50px">#</th> -->
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Montant</th>
            <th scope="col">Motif</th>
            <th scope="col">Utilisateur</th>
          </tr>
        </thead>
        <tbody>
          {% for elementCaisse in elementsCaisse %}
          <tr >
            <td class="bg-primary text-light">{{elementCaisse.date|date('Y-m-d')}}</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td>-</td>
            <td class="">Fermuture Caisse</td>
            <td class="btn-dark">{{elementCaisse.fermutureCaisse| number_format(0, '.', ' ')}} D</td>
            <td>-</td>
            <td>-</td>
          </tr>
          {% for actionCaisse in elementCaisse.actionsCaisse %}
          {% set classType = "btn-info" %}
          {% set prefix = "+" %}
          {% if actionCaisse.type == "depot" %}
          {% set classType = "btn-success" %}
          {% elseif actionCaisse.type == "retrait" or actionCaisse.montant < 0 %}
          {% set classType = "btn-danger" %}
          {% set prefix = "" %}
          {% endif %}
          <tr>
            <!-- <td scope="row">{{loop.index}}</td> -->
            <td data-order="{{actionCaisse.date|date('YmdHis')}}">
              {{ actionCaisse.date|date('Y-m-d (H:i)') }}
            </td>
            <td class="" >{{ actionCaisse.type | capitalize }}</td>
            <td class="{{classType}} ">{{prefix ~''~ actionCaisse.montant | number_format(0, '.', ' ') }} D</td>
            <td class="text-left">{{ actionCaisse.motif }}</td>
            <td>{{ actionCaisse.user.firstName ~' '~ actionCaisse.user.lastName  }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td>-</td>
            <td class="">Ouverture Caisse</td>
            <td class="btn-primary">{{elementCaisse.ouvertureCaisse | number_format(0, '.', ' ')}} D</td>
            <td>-</td>
            <td>-</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<!-- end -->
<hr />
<div class="form-group row">
  <!-- <div class="col-sm-3 mt-3 mt-sm-0 order-2 order-sm-1">
    <a class="btn btn-primary d-block " type="button" href="{{ path('client_index') }}">
      <i class="fa fa-arrow-circle-left "></i>Retour
    </a>
    </div> -->
  <!-- <div class="col-sm-9 order-1 order-sm-2"> -->
  <div class="col-12">
    <a class="btn btn-edit d-block " type="button" href="{{ path('caisse_edit') }}">
    <i class="fa fa-edit"></i>Edit
    </a>
    <!-- <a class="btn btn-secondary" href="{{ path('client_index') }}">Annuler</a> -->
  </div>
</div>
<!-- Modal ActionCaisse -->
<div class="modal fade" id="ModalActionCaisse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header btn-info">
        <h5 class="modal-title" id="exampleModalLabel">Transaction Caisse</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ form_start(formActionCaisse, {'action': path('actioncaisse_new'),'attr': {'id': 'formPayement'}}) }}
        {% for entity in formActionCaisse.children %}
        {% if entity.vars.name != '_token' %}
        {#<!-- {{dump(entity.vars.name)}} -->#}
        <div class="form-group">
          {{ form_label(attribute(formActionCaisse,entity.vars.name), null,
          { 'label_attr': {'class': 'col-form-label font-weight-bold'} }) }}
          {% if entity.vars.name == "type" %}
          {{ form_widget(attribute(formActionCaisse,entity.vars.name) ,{'attr': {'class': 'form-control btn-primary'} }) }}
          {% else %}
          {{ form_widget(attribute(formActionCaisse,entity.vars.name) ,{'attr': {'class': 'form-control'} }) }}
          {% endif %}
        </div>
        {% endif %}
        {% endfor%}
        <button id="formActionCaisseButton" type="submit" class="d-none"></button>
        {{form_end(formActionCaisse)}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="formPayementButton" type="button" class="btn btn-primary">Effectuer Transaction</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<!-- <script type="text/javascript" src="{{ asset('template/js/plugins/sweetalert.min.js') }}"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="{{ asset('template/js/plugins/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('template/js/plugins/dataTables.bootstrap.min.js') }}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var table = $('#example').DataTable({
      "aaSorting": [],
      'iDisplayLength': 25
    });
    //table.order( [1, 'desc' ] ).draw();

    // var table2 = $('#example2').DataTable();

    var modalConfirm = function(callback){
      $("#confirm-delete-button").on("click", function(){
        callback(true);
        $("#exampleModal").modal('hide');
      });
    };

    modalConfirm(function(confirm){
      if(confirm){
        var form = document.getElementById("form_delete_founisseur");
        form.submit();
      }
    });

    $('#appbundle_payement_montant').prop('type', 'number');

    //Payement
    $('#appbundle_actioncaisse_date').datepicker({
        format: 'yyyy-mm-dd',
        startDate: '2008-01-01',
        //endDate: 'y-12-31',
        autoclose: true
    });

    // Modal Color:
    if ($('#appbundle_actioncaisse_type').val() == "depot"){
      $('#formPayementButton').removeClass('btn-danger');
      $('#appbundle_actioncaisse_type').removeClass('btn-danger');
      $('#formPayementButton').addClass('btn-primary');
      $('#appbundle_actioncaisse_type').addClass('btn-primary');
    }else{
      $('#formPayementButton').removeClass('btn-primary');
      $('#appbundle_actioncaisse_type').removeClass('btn-primary');
      $('#formPayementButton').addClass('btn-danger');
      $('#appbundle_actioncaisse_type').addClass('btn-danger');
    }
    $('#appbundle_actioncaisse_type').on('change', function() {
      $('#formPayementButton').toggleClass('btn-primary');
      $('#formPayementButton').toggleClass('btn-danger');
      // $('#appbundle_actioncaisse_type').css("bg-danger");
      if (this.value == "depot"){
        $('#appbundle_actioncaisse_type').css("background-color","#009688");
        $('#appbundle_actioncaisse_type').css("color","white");
      }else{
        $('#appbundle_actioncaisse_type').css("background-color","#dc3545");
        $('#appbundle_actioncaisse_type').css("color","white");
      }
    });

    $('#appbundle_payement_client').attr('disabled',true);
    //button submit formPayement:
    $("#formPayementButton").on("click", function(){
      $("#formPayementButton").prop("disabled",true);
      $('#appbundle_payement_client').removeAttr('disabled');
      var form = document.getElementById("formPayement");
      // form.submit();
      $('#formActionCaisseButton').click();
      // $("#exampleModal").modal('hide');
    });

  });
</script>
{% endblock %}
