{% extends 'arrivage/layout.html.twig' %}

{% set action = "Liste des Arrivages" %}

  {% block container %}
  {%endblock%}

  {% block without_container %}
  <div class="content mt-3">
      <div class="animated fadeIn">
          <div class="row">

          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                      <strong class="card-title lh30">Liste des Arrivage</strong>
                      <div class="float-right">
                        <!-- <button class="btn btn-outline-primary" type="button">Primary</button> -->
                        <a class="btn btn-primary btn-sm icon-btn" href="{{ path('arrivage_new')}}">
                          <i class="fa fa-plus"></i>Nouvel Arrivage
                        </a>
                      </div>
                  </div>
                  <div class="card-body" >

                    <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered w-100 tableData">
                      <thead>
                          <tr>
                              <th>Matricule</th>
                              <th>Fournisseur</th>
                              <th>Produits</th>
                              <th>Restant</th>
                              <!-- <th>Montant</th> -->
                              <th>Entrant</th>
                              <th>Date d'arrivée</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for arrivage in arrivages %}
                          {% if( date( arrivage.dateCreation) > date('-'~newDatesNb~'days') )%}
                            {% set class = 'a' %}
                          {% else %}
                            {% set class = '' %}
                          {% endif %}

                          {% set quantiteTotal = 0 %}
                          {% set quantiteRestanteTotal = 0 %}
                          {% set montantEntrant = 0 %}
                          {% set produitArray = [] %}
                          {% for element in arrivage.elementArrivages %}
                                  {% set produitArray = produitArray|merge([ element.quantite ~ ' ' ~ element.produit.name]) %}

                            {% set quantiteTotal = quantiteTotal + element.quantite %}
                            {% set quantiteRestanteTotal = quantiteRestanteTotal + element.quantiteRestante %}
                            {% for eltVente in element.elementsVente %}
                              {% set montantEntrant = montantEntrant + eltVente.montant %}
                            {% endfor %}
                          {% endfor %}

                          {% set finished = false %}
                          {% if quantiteRestanteTotal == 0 %}
                            {% set finished = true %}
                          {% endif %}
                          {# <!-- <tr class="{{class}}" onclick="window.location.href = '{{ path('arrivage_show', { 'id': arrivage.id }) }}';"> --> #}
                          <tr class="{{class}}" role="row">
                              <td>{{ "%05d"|format(arrivage.id) }}
                                {% if( class != '' ) %}
                                    <span class="badge badge-info">New</span>
                                {%endif%}
                              </td>
                              <td>
                                {{ arrivage.fournisseur.name }}
                              </td>
                              <td>
                                {{ produitArray|join(' + ') }}
                              </td>
                              <td class="{% if finished %} btn-primary {% endif %}"> {{quantiteRestanteTotal}}/{{quantiteTotal}} </td>
                              {#<!-- <td class="btn-secondary" data-order="{{arrivage.montant}}">
                                {{ arrivage.montant |number_format(0, '.', ' ') }} D
                              </td> -->#}
                              <td class="btn-success" data-order="{{montantEntrant}}">
                                {{montantEntrant|number_format(0, '.', ' ') }} D
                              </td>
                              <td data-order="{{arrivage.dateCreation|date('YmdHis')}}">
                                {{ arrivage.dateCreation|date('d/m/Y (H:i)') }}
                              </td>
                              <td>

                                <a class="btn btn-info btn-sm btn-table-sm" type="button" href="{{ path('arrivage_show', { 'id': arrivage.id }) }}">
                                  <i class="fa fa-info fa-fix"></i>
                                </a>

                                <a class="btn btn-edit-xs btn-sm btn-table-sm" type="button" href="{{ path('arrivage_edit', { 'id': arrivage.id }) }}">
                                  <i class="fa fa-edit fa-fix"></i>
                                </a>

                                <!-- <button class="btn btn-sm btn-danger btn-table-sm" type="button"
                                data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash fa-fix"></i>
                                </button>
                                <button class="btn btn-primary btn-sm btn-table-sm" type="button"><i class="fa fa-trash fa-fix"></i></button>
                                <a class="btn btn-primary btn-sm btn-table-sm" type="button" href="{{ path('arrivage_edit', { 'id': arrivage.id }) }}">
                                  <i class="fa fa-trash fa-fix"></i>
                                </a> -->

                              </td>
                          </tr>
                          <!-- <tr class="">
                            <td class="details-row btn-primary" colspan="6">
                              AA
                            </td>
                          </tr> -->
                        {% endfor %}
                      </tbody>
                    </table>
                    </div>

                  </div>
              </div>
          </div>


          </div>
      </div><!-- .animated -->
  </div><!-- .content -->
  {% endblock %}

  {% block javascripts %}
    {{parent()}}
    {% block newEdit %}{% endblock %}
    <script type="text/javascript" src="{{ asset('template/js/plugins/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/js/plugins/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
      <!-- Google analytics script-->

    <script type="text/javascript">

      $(document).ready(function(){
        //$('#ArrivagesItem').toggleClass('active');
        var table = $('#example').DataTable( {
          // "columnDefs": [ {
          //       "targets": [1,3],
          //       "searchable": false,
          //       "orderable": false
          //     } ]
          }
        );
        table.order( [ 5, 'desc' ] ).draw();

        // //details row:
        // $(".data-row").click(function(){ alert('a');
        //     //$this.next( ".details-row" );
        // })
        //
        // $("#example tbody tr").click(function(){
        //     alert("The paragraph was clicked.");
        // });

      });

    </script>

  {% endblock %}
