{% extends 'arrivage/layout.html.twig' %}

{% set action = "Détails Arrivage " ~ "#%05d"|format(arrivage.id) %}

{# {%block stylesheets%}
  {{ parent() }}
  <style>
  input,select {
      background: blanchedalmond!important;
      font-weight: bold!important;
  }
  #add_row, .row-remove{
    background: burlywood!important;
  }
  </style>
{% endblock %} #}

{% block body2 %}

    <form>
      <fieldset disabled>

        {% include ('arrivage/form.twig.html') %}

      </fieldset>
    </form>


      <div class="form-group row">
        <div class="col-sm-3 mt-3 mt-sm-0 order-2 order-sm-3">
          <a class="btn btn-secondary d-block " type="button" href="{{ path('arrivage_index') }}">
            <i class="fa fa-arrow-circle-left "></i>Retour
          </a>
        </div>
        <div class="col-sm-6 order-1 order-sm-1">
          <!-- <button type="submit" class="btn btn-edit btn-block " value="Edit">
            <i class="fa fa-edit"></i>Edit
          </button> -->
          <a class="btn btn-edit btn-block" href="{{ path('arrivage_edit', { 'id': arrivage.id }) }}">
            <i class="fa fa-edit">Edit</i>
          </a>
          <!-- <a class="btn btn-secondary" href="{{ path('client_index') }}">Annuler</a> -->
        </div>
        <div class="col-sm-3 mt-3 mt-sm-0 order-3 order-sm-2">
          <!-- <button type="button" class="btn btn-danger btn-block " data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-trash"></i>Delete
          </button> -->
        </div>
      </div>

{% endblock %}

{% block javascripts %}
  {{parent()}}

  <script type="text/javascript">
  $(document).ready(function(){
    $('textarea').attr("placeholder", "");
  });
  </script>
{% endblock %}
