{% extends 'client/layout.html.twig' %}

{% set action = "Edit Client" %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset('template/css/newAndEditPages.css') }}">
{% endblock %}

{% block body2 %}

          {{ form_start(form) }}
            {{ include("client/form.html.twig") }}


            <label class="col-form-label font-weight-bold"> Historique de payements:</label>
            <!-- <button class=" btn btn-info btn-sm float-right mt-0" data-target="#ModalPayement" data-toggle="modal" > Nouveau payement</button>
            <div class="clearfix"></div> -->
            <div class="row ">

                  <div class="card-body">

                    <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered w-100 ">
                      <thead>
                          <tr>
                          <th scope="col" style="width:50px">#</th>
                          <th scope="col" style="width:100px">Date</th>
                          <th scope="col">Montant</th>
                          <th>Methode</th>
                          <th>numCheque</th>
                          <th>Pocesseur</th>
                          <th>Banque</th>
                          <th>dateCheque</th>
                          <th style="width:10px"></th>
                        </tr>
                      </thead>
                      <tbody class="font-weight-bold">
                        {% set total = 0 %}
                        {% for payement in payements %}
                          {% set total = total + payement.montant %}
                        <tr data-id="{{payement.id}}">
                          <th scope="row">{{loop.index}}</th>
                          <td class="datePayement" data-order="{{payement.date|date('YmdHis')}}">{% if payement.date %}{{ payement.date|date('Y-m-d (H:i)') }}{% endif %} </td>
                          <td class="montantPayement btn-info">
                            {{ payement.montant | number_format(0, '.', ' ') }} D
                          </td>
                          <th>{{ payement.type | capitalize }}</th>
                          {% set empty = "" %}
                          {% if payement.type == "cash" %}
                            {% set empty = "-" %}
                          {% endif %}
                          <td>{{payement.numCheque}} {{empty}}</td>
                          <td>{{payement.pocesseur}} {{empty}}</td>
                          <td>{{payement.banque}} {{empty}}</td>
                          <td>{% if not empty %}{{payement.dateCheque|date('Y-m-d')}}{%endif%} {{empty}}</td>


                          <td>
                            <button type="button" class="btn btn-edit-xs btn-sm btn-table-sm modalDeletePayementBtn"><i class="fa fa-close fa-fix"></i></button>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Total</th>
                          <th scope="col" class="btn-secondary">{{ total |number_format(0, '.', ' ') }} D</th>
                          <!-- <th scope="col">Handle</th> -->
                        </tr>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">+ / -</th>
                          {% if client.plusOuMoins >= 0 %}
                            <th scope="col" class="btn-success">+ {{client.plusOuMoins |number_format(0, '.', ' ') }} D</th>
                          {% else %}
                            <th scope="col" class="btn-danger">- {{client.plusOuMoins |abs |number_format(0, '.', ' ') }} D</th>
                          {% endif %}
                          <!-- <th scope="col">Handle</th> -->
                        </tr>
                      </tfoot>
                  </table>
                  </div>

                  </div>

            </div>

        <hr />

            <div class="form-group row">
              <div class="col-sm-3 mt-3 mt-sm-0 order-2 order-sm-1">
                <a class="btn btn-primary d-block " type="button" href="{{ path('client_index') }}">
                  <i class="fa fa-arrow-circle-left "></i>Retour
                </a>
              </div>
              <div class="col-sm-6 order-1 order-sm-2">
                <button type="submit" class="btn btn-edit btn-block " value="Edit">
                  <i class="fa fa-edit"></i>Edit
                </button>
                <!-- <a class="btn btn-secondary" href="{{ path('client_index') }}">Annuler</a> -->
              </div>
              <div class="col-sm-3 mt-3 mt-sm-0 order-3 order-sm-3">
                <button type="button" class="btn btn-danger btn-block " data-toggle="modal" data-target="#exampleModal">
                  <i class="fa fa-trash"></i>Delete
                </button>
              </div>
            </div>
          {{ form_end(form) }}

          <!-- Delete form -->
          {{ form_start(delete_form, {'attr': {'id': 'form_delete_founisseur'}}) }}
          {{ form_end(delete_form) }}

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Supprimer le Client <b style="color:red">{{client.name}}</b> ?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- <div class="modal-body">
                  <h6>Confirmer la suppression du client <b style="color:red">{{client.name}}</b> ? </h6>
                </div> -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" id="confirm-delete-button">Supprimer</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Delete Payement-->
          <div class="modal fade" id="deletePayementModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-center" id="deletePayementModalLabel"></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- <div class="modal-body">
                  <h6>Confirmer la suppression du client <b style="color:red">{{client.name}}</b> ? </h6>
                </div> -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" id="delete-payement">Supprimer</button>
                </div>
              </div>
            </div>
          </div>
{#
    <h1>Client edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('client_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
#}

{{ form_start( payementDeleteForm, {'attr': {'id': 'payementDeleteForm'}} ) }}
{{ form_end(payementDeleteForm) }}

{% endblock %}

{% block javascripts%}
{{parent()}}
<script type="text/javascript" src="{{ asset('template/js/plugins/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('template/js/plugins/dataTables.bootstrap.min.js') }}"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>

<script type="text/javascript">
  $(document).ready(function(){
    var table = $('#example').DataTable();
    table.order( [1, 'desc' ] ).draw();

    $('#appbundle_client_name').focus();
    //Modal handling
    var modalConfirm = function(callback){
      $("#confirm-delete-button").on("click", function(){
        callback(true);
        $("#exampleModal").modal('hide');
      });
    };
    modalConfirm(function(confirm){
      if(confirm){
        var form = document.getElementById("form_delete_founisseur");
        form.submit();
      }
    });

    //delete payement:
    $(".modalDeletePayementBtn").on("click", function(){
      let parent = $(this).closest('tr');
      let id = parent.data("id");
      let date = parent.find('.datePayement').html();
      let montant = parent.find('.montantPayement').html();

      $("#deletePayementModal").data('id', id);
      $("#deletePayementModal").data('date', date);
      $("#deletePayementModal").data('montant', montant);

      $('#deletePayementModalLabel').html('Supprimer le Payement de valeur <b style="color:red">'+montant+' </b> payé à : <b style="color:red">'+ date +'</b> ?');
      // alert($("#deletePayementModal").data('montant'));
      $('#deletePayementModal').modal('show');

    });

    $("#delete-payement").on("click", function(){
      let id = $("#deletePayementModal").data('id');
      let action = $("#payementDeleteForm").attr('action');
      action = action.replace("id", id);
      $("#payementDeleteForm").attr('action',action);
      // alert(action);
      // $('#payementDeleteForm').find('input').attr('value',id);
      $('#deletePayementModal').modal('hide');
      $('#payementDeleteForm').submit();
    });

  });
</script>
{% endblock %}
