{% extends 'client/layout.html.twig' %}

{% set action = "Liste des Clients" %}

{% block container %}
{%endblock%}

{% block without_container %}
      <div class="content mt-3">
          <div class="animated fadeIn">
              <div class="row">

              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header">
                          <strong class="card-title lh30">Liste des Clients</strong>
                          <div class="float-right">
                            <!-- <button class="btn btn-outline-primary" type="button">Primary</button> -->
                            <a class="btn btn-primary btn-sm icon-btn" href="{{ path('client_new')}}">
                              <i class="fa fa-plus"></i>Nouveau Client
                            </a>
                          </div>
                      </div>
                      <div class="card-body" >

                        <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered w-100 tableData">
                          <thead>
                              <tr>
                                  <th>Matricule</th>
                                  <th>Nom</th>
                                  <th>Tel</th>
                                  <th>Pays</th>
                                  <th>Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                            {% for client in clients %}
                              {% if( date( client.dateCreation) > date('-7days') )%}
                                {% set class = 'cadblue' %}
                              {% else %}
                                {% set class = '' %}
                              {% endif %}
                              <tr class="{{class}}" onclick="window.location.href = '{{ path('client_show', { 'id': client.id }) }}';">
                                  <td>{{ "%05d"|format(client.id) }}</td>
                                  <td>
                                    {{ client.name }}
                                    {% if( date( client.dateCreation) > date('-7days') )%}
                                        <span class="badge badge-info">New</span>
                                    {%endif%}
                                  </td>
                                  <td>{{ client.tel }}</td>
                                  <td>{{ client.pays }}</td>
                                  <td>

                                    <a class="btn btn-info btn-sm btn-table-sm" type="button" href="{{ path('client_show', { 'id': client.id }) }}">
                                      <i class="fa fa-info fa-fix"></i>
                                    </a>

                                    <a class="btn btn-edit-xs btn-sm btn-table-sm" type="button" href="{{ path('client_edit', { 'id': client.id }) }}">
                                      <i class="fa fa-edit fa-fix"></i>
                                    </a>

                                    <!-- <button class="btn btn-sm btn-danger btn-table-sm" type="button"
                                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash fa-fix"></i>
                                    </button>
                                    <button class="btn btn-primary btn-sm btn-table-sm" type="button"><i class="fa fa-trash fa-fix"></i></button>
                                    <a class="btn btn-primary btn-sm btn-table-sm" type="button" href="{{ path('client_edit', { 'id': client.id }) }}">
                                      <i class="fa fa-trash fa-fix"></i>
                                    </a> -->

                                  </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        </div>

                      </div>
                  </div>
              </div>


              </div>
          </div><!-- .animated -->
      </div><!-- .content -->


    {% endblock %}

    {% block javascripts %}
      {{ parent() }}
      <!-- Data table plugin-->
      <script type="text/javascript" src="{{ asset('template/js/plugins/jquery.dataTables.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('template/js/plugins/dataTables.bootstrap.min.js') }}"></script>
      <script type="text/javascript">$('#sampleTable').DataTable();</script>
      <!-- Google analytics script-->
      <script type="text/javascript">

      $(document).ready(function(){
        $('#ArrivagesItem').toggleClass('active');
        $('#example').DataTable();
      });

        if(document.location.hostname == 'pratikborsadiya.in') {
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-72504830-1', 'auto');
          ga('send', 'pageview');
        }
      </script>

    {% endblock %}



{#

  {% extends 'base.html.twig' %}

  {% block body %}
      <h1>Clients list</h1>

      <table>
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Pays</th>
                  <th>Tel</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
          {% for client in clients %}
              <tr>
                  <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                  <td>{{ client.name }}</td>
                  <td>{{ client.pays }}</td>
                  <td>{{ client.tel }}</td>
                  <td>
                      <ul>
                          <li>
                              <a href="{{ path('client_show', { 'id': client.id }) }}">show</a>
                          </li>
                          <li>
                              <a href="{{ path('client_edit', { 'id': client.id }) }}">edit</a>
                          </li>
                      </ul>
                  </td>
              </tr>
          {% endfor %}
          </tbody>
      </table>

      <ul>
          <li>
              <a href="{{ path('client_new') }}">Create a new client</a>
          </li>
      </ul>
  {% endblock %}



  #}
