{% extends 'client/layout.html.twig' %}

{% set action = "Détails Client" %}

{% block body2 %}

        <form>
    			<fieldset disabled>
          {{ include("client/form.html.twig") }}
          </fieldset>
    		</form>


            <label class="col-form-label font-weight-bold"> Historique de payements:</label>
            <button class=" btn btn-info btn-sm float-right mt-0" data-target="#ModalPayement" data-toggle="modal" > Nouveau payement</button>
            <div class="clearfix"></div>
            <div class="row ">

                  <div class="card-body">

                    <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered w-100 ">
                      <thead>
                          <tr>
                          <th scope="col" style="width:50px">#</th>
                          <th scope="col" style="width:140px">Date</th>
                          <th>Methode</th>
                          <th>Note</th>
                          <th scope="col">Montant</th>
                          <!-- <th style="width:20px">

                          </th> -->
                        </tr>
                      </thead>
                      <tbody>
                        {% set total = 0 %}
                        {% for payement in payements %}
                          {% set total = total + payement.montant %}
                        <tr>
                          <th scope="row">{{loop.index}}</th>
                          <td data-order="{{payement.date|date('YmdHis')}}">{% if payement.date %}{{ payement.date|date('Y-m-d (H:i)') }}{% endif %} </td>
                          {% if payement.type == "cash" %}
                            <th>{{ payement.type | capitalize }}</th>
                          {% else %}
                            <th>{{ payement.type | capitalize }} : {{payement.numCheque}}</th>
                          {% endif %}
                          <td>{{payement.note}}</td>
                          <td class="btn-info">{{ payement.montant | number_format(0, '.', ' ') }} D</td>
                          <!-- <td>
                            <button class="btn btn-edit-xs btn-sm btn-table-sm"><i class="fa fa-close fa-fix"></i></button>
                          </td> -->
                        </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <th scope="col"></th>
                          <th></th>
                          <th></th>
                          <th scope="col">Total</th>
                          <th scope="col" class="btn-secondary">{{ total |number_format(0, '.', ' ') }} D</th>
                          <!-- <th scope="col">Handle</th> -->
                        </tr>
                        <tr>
                          <th scope="col"></th>
                          <th></th>
                          <th></th>
                          <th scope="col">+ / -</th>
                          {% if client.plusOuMoins >= 0 %}
                            <th scope="col" class="btn-success">+ {{client.plusOuMoins |number_format(0, '.', ' ') }} D</th>
                          {% else %}
                            <th scope="col" class="btn-danger">- {{client.plusOuMoins |abs |number_format(0, '.', ' ') }} D</th>
                          {% endif %}
                          <!-- <th scope="col">Handle</th> -->
                        </tr>
                      </tfoot>
                  </table>
                  </div>

                  </div>

            </div>

        <hr />


        <div class="form-group row">
          <div class="col-sm-3 mt-3 mt-sm-0 order-2 order-sm-1">
            <a class="btn btn-primary d-block " type="button" href="{{ path('client_index') }}">
              <i class="fa fa-arrow-circle-left "></i>Retour
            </a>
          </div>
          <div class="col-sm-9 order-1 order-sm-2">
            <a class="btn btn-edit d-block " type="button" href="{{ path('client_edit', { 'id': client.id }) }}">
              <i class="fa fa-edit"></i>Edit
            </a>
            <!-- <a class="btn btn-secondary" href="{{ path('client_index') }}">Annuler</a> -->
          </div>
        </div>



        <!-- Delete form -->
        {{ form_start(delete_form, {'attr': {'id': 'form_delete_founisseur'}}) }}
        {{ form_end(delete_form) }}

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer le Client <b style="color:red">{{client.name}}</b> ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!-- <div class="modal-body">
                <h6>Confirmer la suppression du client <b style="color:red">{{client.name}}</b> ? </h6>
              </div> -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="confirm-delete-button">Supprimer</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Payement -->
        <div class="modal fade" id="ModalPayement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header btn-info">
                <h5 class="modal-title" id="exampleModalLabel">Payement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                {{ form_start(formPayement, {'action': path('payement_new'),'attr': {'id': 'formPayement'}}) }}

                {% for entity in formPayement.children %}
                  {% if entity.vars.name != '_token' %}
                      <!-- {{dump(entity.vars.name)}} -->
                      <div class="form-group">
                        {{ form_label(attribute(formPayement,entity.vars.name), null,
                          { 'label_attr': {'class': 'col-form-label font-weight-bold'} }) }}
                          {{ form_widget(attribute(formPayement,entity.vars.name) ,{'attr': {'class': 'form-control'} }) }}

                      </div>
                  {% endif %}
                {% endfor%}
                {{form_end(formPayement)}}

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="formPayementButton" type="button" class="btn btn-info">Payement</button>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row form-group">
          <div class="col-sm-3  ">
            <a class="btn btn-primary d-block" type="button" href="{{ path('client_index') }}">
              <i class="fa fa-arrow-circle-left "></i>Retour
            </a>
          </div>
          <div class="col-sm-9 ">
            <a class="btn btn-warning d-block d-sm-inline mr-sm-4 mt-3 mt-sm-0" type="button" href="{{ path('client_edit', { 'id': client.id }) }}">
              <i class="fa fa-edit"></i>Edit
            </a>

            <button type="button" class="btn btn-danger mt-3 mt-sm-0 btn-block-sm d-sm-inline" data-toggle="modal" data-target="#exampleModal">
              <i class="fa fa-trash"></i>Delete
            </button>
          </div>
        </div> -->

        <!-- <div class="w-100">
          <div class="float-sm-right">


            <a class="btn btn-warning d-block d-sm-inline " type="button" href="{{ path('client_edit', { 'id': client.id }) }}">
              <i class="fa fa-edit"></i>Edit
            </a>

            <button type="button" class="btn btn-danger mt-3 mt-sm-0 btn-block-sm d-sm-inline" data-toggle="modal" data-target="#exampleModal">
              <i class="fa fa-trash"></i>Delete
            </button>


          </div>
        </div> -->
          <!-- <a class="btn btn-primary btn-secondary" href="{{ path('client_index') }}">Back to the list</a> -->

{% endblock %}




{% block javascripts %}
{{parent()}}
<!-- <script type="text/javascript" src="{{ asset('template/js/plugins/sweetalert.min.js') }}"></script> -->
<script type="text/javascript" src="{{ asset('template/js/plugins/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('template/js/plugins/dataTables.bootstrap.min.js') }}"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<script type="text/javascript">
  $(document).ready(function() {
    var table = $('#example').DataTable();
    table.order( [1, 'desc' ] ).draw();

    var modalConfirm = function(callback){
      $("#confirm-delete-button").on("click", function(){
        callback(true);
        $("#exampleModal").modal('hide');
      });
    };

    modalConfirm(function(confirm){
      if(confirm){
        var form = document.getElementById("form_delete_founisseur");
        form.submit();
      }
    });

    //montant
    $('#appbundle_payement_montant').prop('type', 'number');

    //select Type Payement:
    let numCheque = $('#appbundle_payement_numCheque');
    let divNumCheque = numCheque.closest(".form-group");
    divNumCheque.hide();
    $( "#appbundle_payement_type" ).change(function() {
      if($( "#appbundle_payement_type" ).val() == "cash" ){
        // numCheque.val('');
        divNumCheque.hide();
      }else{
        divNumCheque.show();
        numCheque.focus();
      }
    });

    $('#appbundle_payement_client').attr('disabled',true);
    //button submit formPayement:
    $("#formPayementButton").on("click", function(){
      $('#appbundle_payement_client').removeAttr('disabled');
      var form = document.getElementById("formPayement");
      form.submit();
      // $("#exampleModal").modal('hide');
    });

  });
</script>
{% endblock %}
