{% extends 'base.html.twig' %}

{%block stylesheets%}
  {{ parent() }}
  <style>

  </style>
{% endblock %}

{% block body %}
  <input id="tab_name" type="hidden" value="vente" />
  <div class="app-title">
    <div>
      <h1><i class="fa fa-edit"></i> {{ action }}</h1>
      <!-- <p>Bootstrap default form components</p> -->
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item">Vente</li>
      <li class="breadcrumb-item"><a href="#">{{ action }}</a></li>
    </ul>
  </div>

  <div class="row">
      <div class="col-lg-12">
        <div class="bs-component messageContainer">
          {% for label, messages in app.flashes %}
              {% for message in messages %}
                <div class="alert alert-dismissible alert-{{label}}">
                  <button class="close" type="button" data-dismiss="alert">×</button><strong>{{ message }}</strong>
                </div>
              {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
{#
  <!-- {% block container %}
  <div class="row justify-content-lg-center">
    <div class="col-lg-9">
      <div class="tile tile2">
        <div class="row">
          <div class="col-lg-12">
            {% block body2 %}

            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %} -->
#}
  {% block body2 %}
  {% endblock %}

  {% block without_container %}
  {% endblock %}

{% endblock %}




{% block javascripts %}
  {{ parent() }}
  {% block newEdit %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

  <script type="text/javascript" src="{{ asset('template/js/plugins/jquery.dataTables.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('template/js/plugins/dataTables.bootstrap.min.js') }}"></script>
  <script type="text/javascript">$('#sampleTable').DataTable();</script>


  <script type="text/javascript">
  $(document).ready(function() {

    var table = $('#example').DataTable();
    table.order( [ 2, 'desc' ] ).draw();
    // Handle form submission event
       $('form').on('submit', function(e){


        var atLeastOnce = false;
        $('.tableVente').find('tbody tr').each(function( index2 ) {
          let quantite = $(this).find('.quantite').val();
          let prixUnit = $(this).find('.prixUnit').val();
          if ( quantite > 0 && prixUnit > 0){
            atLeastOnce = true;
          }
        });

        if ( !atLeastOnce){
          event.preventDefault();
          let type = "danger";
          let message = 'Une Vente doit contenir au moins un produit!';
          alertMessage(type,message);
        }

          var form = this;

          // Encode a set of form elements from all pages as an array of names and values
          var params = table.$('input,select,textarea').serializeArray();

          // Iterate over all form elements
          $.each(params, function(){
             // If element doesn't exist in DOM
             if(!$.contains(document, form[this.name])){
                // Create a hidden element
                $(form).append(
                   $('<input>')
                      .attr('type', 'hidden')
                      .attr('name', this.name)
                      .val(this.value)
                );
             }
          });
       });

    // table.order( [ 3, 'desc' ] ).draw();

    $('#appbundle_vente_date').datepicker({
        format: 'yyyy-mm-dd',
        startDate: '2008-01-01',
        endDate: 'y-12-31',
        autoclose: true
    });

    function removeCommas(str){
      return str.replace(/\s/g, '');
    }

    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ' ' + '$2');
        }
        return x1 + x2;
    }

    $('.quantite').each(function( index2 ) {
        MajTr($(this));
    });

    $('.tableVente').on('click', '.row-remove', function() {
        let myParent = $(this).closest("tr");

        myParent.find('.quantite').val(0);
        MajRestant(myParent.find('.quantite'));
        myParent.find('.prixUnit').val(0);
        myParent.find('.montant').val(0);

        myParent.css("background-color", "");
        myParent.css("color", "black");
        $(this).addClass('disabled d-none');
        MajMontantGlobal();

    });

    $('.prixUnit').prop('type','number');

    $('.tableVente').on('change keyup paste', '.quantite', function() {
      MajMontantRow($(this));
      MajTr($(this));
      MajRestant($(this));
    });
    $('.tableVente').on('change keyup paste', '.prixUnit', function() {
      MajMontantRow($(this));
      MajTr($(this));
    });

    function MajTr(element){
      let myParent = $(element).closest("tr");

      let quantite = myParent.find('.quantite').val();
      let prixUnit = myParent.find('.prixUnit').val();
      let button = myParent.find('.row-remove');

      if( quantite > 0 && prixUnit > 0){
        myParent.css("background-color", "#009688");
        myParent.css("color", "white");
        button.removeClass('disabled d-none');

      }else{
        myParent.css("background-color", "");
        myParent.css("color", "black");
        button.addClass('disabled d-none');

      }
      //myParent.find('.montant').val( quantite * prixUnit );
    }

    function MajMontantRow(element){
      let myParent = $(element).closest("tr");

      let quantite = myParent.find('.quantite').val();
      let prixUnit = myParent.find('.prixUnit').val();
      myParent.find('.montant').val( quantite * prixUnit );

      MajMontantGlobal();
    }

    function MajMontantGlobal(){
      let res = 0;
      $('.tableVente tbody td[data-name="sel"]').each( function(index2){
        res += +(removeCommas( $(this).find('input').val() ) );
      });

      $('#montant').val( addCommas(res) );
    }

    function MajRestant(element){
      //dynamic increase/decrease
      let max = element.attr('max');
      let currentValue = element.val();
      let stockRestant = max - currentValue;
      let divParent = $(element).closest(".input-group");
      divParent.find('.input-group-text').html('/ '+stockRestant);
    }

    function alertMessage(type,message){
      let alert = $("<div>", {"class": "alert alert-dismissible"});
      alert.addClass('alert-'+type);
      alert.html('<button class="close" type="button" data-dismiss="alert">×</button><strong></strong>');
      alert.find('strong').html(message);
      $('.messageContainer').append(alert);
    }

  });

  </script>
  {% endblock %}
{% endblock %}
