{% extends 'vente/layout.html.twig' %}

{% set action = "Nouvelle Vente" %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset('template/css/newAndEditPages.css') }}">
{% endblock %}

{% block body2 %}

    {{ form_start(form) }}
      {% include ('vente/form.twig.html') %}
      <a  class="btn btn-secondary float-right" href="{{ path('vente_index') }}">
        <i class="fa fa-arrow-left"></i>Back to the list</a>
      <input type="submit" class="btn btn-primary w-btn-create" value="Create" />
    {{ form_end(form) }}



{% endblock %}

{% block javascripts %}
  {{parent()}}

  <script type="text/javascript">
  $(document).ready(function(){

  });
  </script>
{% endblock %}
