{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vente creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('vente_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% block newEdit %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $('#appbundle_vente_date').datepicker({
        format: 'yyyy-mm-dd',
        startDate: '2008-01-01',
        endDate: 'y-12-31',
        autoclose: true
    });
  });
  </script>
  {% endblock %}
{% endblock %}
