{% extends 'monstock/layout.html.twig' %}

{% set action = "Mon Stock" %}

  {% block container %}
  {%endblock%}

  {% block stylesheets %}
    {{ parent() }}
    <style>
      .tableData th{
        text-align: center!important;
      }
    </style>
  {% endblock %}

  {% block without_container %}
  <div class="content mt-3">
      <div class="animated fadeIn">
          <div class="row">

          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                      <strong class="card-title lh30">Liste des produits</strong>
                      <div class="float-right">
                        <!-- <button class="btn btn-outline-primary" type="button">Primary</button> -->
                        <!-- <a class="btn btn-primary btn-sm icon-btn" href="{{ path('vente_new')}}">
                          <i class="fa fa-plus"></i>Nouvelle Vente
                        </a> -->
                      </div>
                  </div>
                  <div class="card-body" >

                    <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered w-100 tableData">
                      <thead>
                          <tr>
                              <!-- <th class="text-nowrap">Arrivage</th> -->
                              <th class="text-nowrap" style="">Produit</th>
                              <th class="text-nowrap" style="">Fournisseur</th>
                              <th class="text-nowrap" style="">Date d'arrivage</th>
                              <th class="text-nowrap">Quantite</th>
                              <th class="text-nowrap">Vendu</th>
                              <th class="text-nowrap">Perdu</th>
                              <th class="text-nowrap">Restant</th>
                              <th class="text-nowrap"> Progress %</th>
                              <th> Action </th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for element in monstock %}

                          {% if( date( element.arrivage.dateCreation) > date('-'~newDatesNb~'days') )%}
                            {% set class = 'a' %}
                          {% else %}
                            {% set class = '' %}
                          {% endif %}

                          <tr class="{{class}}" onclick="window.location.href = '{{ path('arrivage_show', { 'id': element.arrivage.id }) }}';" >
                              <!-- <td class="text-center">
                                #{{ "%05d"|format(element.arrivage.id) }}
                              </td> -->
                              <td>{{ element.produit.name }}
                                {% if( class != '' ) %}
                                    <span class="badge badge-info">New</span>
                                {%endif%}
                              </td>
                              <td>
                                {{ element.arrivage.fournisseur.name }}
                              </td>
                              <td data-order="{{element.arrivage.dateCreation|date('YmdHis')}}">
                                {{ element.arrivage.dateCreation|date('d/m/Y (H:i)') }}
                              </td>

                              <td class="text-center btn-info">
                                {{ element.quantite }}
                              </td>
                              <td class="text-center {%if element.quantiteVendu > 0 %}btn-success{%endif%}">
                                {{ element.quantiteVendu }}
                              </td>
                              <td class="text-center {%if element.totalPerdu > 0 %}btn-danger{%endif%}">
                                {{ element.totalPerdu }}
                              </td>
                              <td class="text-center {%if element.quantiteRestante > 0 %}btn-warning{%endif%}">
                                {{ element.quantiteRestante }} </td>
                              <td>
                                  {% set restantPercent = ( (element.quantite - element.quantiteVendu)/element.quantite) * 100 %}
                                <div class="bs-component mb-2">
                                  <div class="progress" style="background:chartreuse">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{restantPercent}}%;" ></div>
                                  </div>
                                </div>
                                {#
                                <!-- <a class="btn btn-info btn-sm btn-table-sm" type="button" href="{{ path('arrivage_show', { 'id': arrivage.id }) }}">
                                  <i class="fa fa-info fa-fix"></i>
                                </a>

                                <a class="btn btn-edit-xs btn-sm btn-table-sm" type="button" href="{{ path('arrivage_edit', { 'id': arrivage.id }) }}">
                                  <i class="fa fa-edit fa-fix"></i>
                                </a> -->
#}
                              </td>
                              <!-- <td onclick="event.cancelBubble=true; return false;"> -->
                              <td>
                                <button data-element-id={{element.id}} class="btn btn-info perteAction">Perte</button>
                              </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    </div>

                  </div>
              </div>
          </div>


          </div>
      </div><!-- .animated -->
  </div><!-- .content -->

  {% for element in monstock %}
    {% set formPerte = dataPertes[element.id]['newForm'] %}
  <!-- Modal Perte -->
    <div class="modal fade" id="ModalPerte{{element.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header btn-info">
            <h5 class="modal-title" id="exampleModalLabel">Perdus</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" role="alert">
              Le champ Perdu doit etre supérieur à zero!
            </div>
            <div class="form-group">
              <label class='col-form-label font-weight-bold'>Historique Pertes</label>

              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Date</th>
                    <th scope="col">Perdu</th>
                    <th scope="col">Raison</th>
                    <th scope="col">#</th>
                  </tr>
                </thead>
                <tbody>
                  {% for perte in element.perdus %}
                  <tr>
                    <!-- <th scope="row">{{perte.id}}</th> -->
                    <td>{{perte.date | date('d/m/Y (H:i)') }}</td>
                    <td>{{perte.perdu}}</td>
                    <td>{{perte.raison}}</td>
                    <td> <button class="deletePerte btn btn-sm btn-danger" data-id="{{perte.id}}"><i class="fa fa-close"></i></button> </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>


            </div>
            <hr />

            {{ form_start(formPerte, {'action': path('perte_new'),'attr': {'id': 'formPerte'~element.id}}) }}

            {% for entity in formPerte.children %}
              {% if entity.vars.name != '_token' %}
                  {#  {{dump(entity.vars.name)}} #}
                  <div class="form-group">
                    {{ form_label(attribute(formPerte,entity.vars.name), null,
                      { 'label_attr': {'class': 'col-form-label font-weight-bold'} }) }}
                      {{ form_widget(attribute(formPerte,entity.vars.name) ,{'attr': {'class': 'form-control'} }) }}

                  </div>
              {% endif %}
            {% endfor%}
            {{form_end(formPerte)}}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button data-form="formPerte{{element.id}}" type="button" class="btn btn-info formPerteButton">Declarer Nouvelle Perte</button>
          </div>
        </div>
      </div>
    </div>

  {% endfor %}

  <!-- Modal Delete Perte-->
  <div class="modal fade" id="ModalDeletePerte" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalPerteLabel">Supprimer cette perte ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id="confirm-delete-button">Supprimer</button>
        </div>
      </div>
    </div>
  </div>

  {{ form_start( deletePerteForm, {'attr': {'id': 'deletePerteForm'}} ) }}
  {{ form_end(deletePerteForm) }}

  {% endblock %}

  {% block javascripts %}
    {{parent()}}
    {% block newEdit %}{% endblock %}
    <script type="text/javascript" src="{{ asset('template/js/plugins/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/js/plugins/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
    <!-- Google analytics script-->

    <script type="text/javascript">

      $(document).ready(function(){
        //$('#ArrivagesItem').toggleClass('active');
        var table = $('#example').DataTable();
        table.order( [ 2, 'desc' ] ).draw();

        $('.perteAction').on('click', function(e){
            $('.alert-danger').hide();
            e.stopPropagation();
            let id = $(this).data("element-id");
            $('#ModalPerte'+id).modal('show');
        });

        $('.formPerteButton').on('click', function(e){
          let parent = $(this).closest('.modal-content');
          let perdu = parent.find('#appbundle_perte_perdu');
          let val = perdu.val();
          if ( val > 0 ){
            let form = $(this).data('form');
            $('#'+form).submit();
          }else{
            let alert = parent.find('.alert-danger');
            alert.show();
          }
        });

        $('.deletePerte').on('click', function(e){
          let id = $(this).data('id');
          $('#ModalDeletePerte').data('perte-id',id);
          $('#ModalDeletePerte').modal('show');

        });

        var modalConfirm = function(callback){
          $("#confirm-delete-button").on("click", function(){
            callback(true);
            $("#exampleModal").modal('hide');
          });
        };

        modalConfirm(function(confirm){
          if(confirm){
            let id = $('#ModalDeletePerte').data('perte-id');
            let action = $("#deletePerteForm").attr('action');
            action = action.replace("id", id);
            $("#deletePerteForm").attr('action',action);
            var form = document.getElementById("deletePerteForm");
            form.submit();
          }
        });

      });

    </script>

  {% endblock %}
