

<div class="table-responsive w-100 font-weight-bold">
  <table id="example" class="table table-striped table-bordered w-100 text-center">
    <thead>
      <tr>
        <th scope="col" style="width:140px">Date</th>
        <th>Client</th>
        <th scope="col">Montant</th>
        <th>Methode</th>
        <!-- <th>numCheque</th>
        <th>Pocesseur</th>
        <th>Banque</th>
        <th>dateCheque</th> -->
        <th>EtatCheque</th>
        <th>Credits Client</th>
        <th>Utilisateur</th>
        <!-- <th style="width:20px">
          </th> -->
      </tr>
    </thead>
    <tbody>
      {% set total = 0 %}
      {% for payement in payements %}
      {% set total = total + payement.montant %}
      <tr>
        <td data-order="{{payement.date|date('YmdHis')}}">{% if payement.date %}{{ payement.date|date('Y-m-d (H:i)') }}{% endif %} </td>
        <td class="btn-info">{{payement.client.name}}</td>
        <td class="btn-primary">{{ payement.montant | number_format(0, '.', ' ') }} D</td>
        <th>{{ payement.type | capitalize }}</th>
        {% set empty = "" %}
        {% if payement.type == "cash" %}
        {% set empty = "-" %}
        {% endif %}
        <!-- <td>{{payement.numCheque}} {{empty}}</td>
        <td>{{payement.pocesseur}} {{empty}}</td>
        <td>{{payement.banque}} {{empty}}</td>
        <td>{% if not empty %}{{payement.dateCheque|date('Y-m-d')}}{%endif%} {{empty}}</td> -->
        {% if payement.type == 'cheque' and payement.etatCheque == 1 %}
        <td class="btn-primary">Payé</td>
        {% elseif payement.type == 'cheque' %}
        <td class="btn-warning">Impayé</td>
        {% else %}
        <td>-</td>
        {% endif %}
        {% if (payement.client.plusOuMoins < 0 ) %}
          <td class="btn-danger" data-order="{{payement.client.plusOuMoins}}">
            - {{payement.client.plusOuMoins|abs|number_format(0, '.', ' ') }} D
          </td>
        {% else %}
          <td class="btn-success" data-order="{{payement.client.plusOuMoins}}">
            + {{payement.client.plusOuMoins|abs|number_format(0, '.', ' ') }} D
          </td>
        {% endif %}
        <td>{{payement.user.firstName ~' '~ payement.user.lastName}}</td>
        <!-- <td>
          <button class="btn btn-edit-xs btn-sm btn-table-sm"><i class="fa fa-close fa-fix"></i></button>
          </td> -->
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>-</th>
        <th scope="col" class="btn-dark">Total</th>
        <th scope="col" class="btn-secondary">{{ total |number_format(0, '.', ' ') }} D</th>
        <th>-</th>
        <th>-</th>
        <th>-</th>
        <th>-</th>
        <!-- <th scope="col">Handle</th> -->
      </tr>
    </tfoot>
  </table>
</div>
